$icon-font-path: "fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import "variables";


@import "modules/buttons";
@import "modules/card";
@import "modules/chart";
@import "modules/modal";
@import "modules/slider";
@import "modules/tables";
@import "modules/topBar";
@import "modules/typography";
