.card {
	background: $saco-grey;
	border-radius: 6px;
	padding: 20px 20px 15px 20px;
	margin-bottom: 10px;

	h2:first-child, h3:first-child {
		margin-top: 0;
	}

	.user-input {
		label {
			width: 35%;
			display: inline-block;
		}
		.form-control {
			width: 60%;
			display: inline-block;
		}
		.form-group > .error-message {
			margin-left: 35%;
		}
	}
	.btn-nav {
		margin-top: 28px;
		width: 100%;
	}

	.income-spec {
		margin-bottom: 5px;
	}

	#chart {
		clear: both;
		padding-top: 14px;
	}
}