#chart {

	


	/*	Annotations for max value and selected months are drawn, but shown only
		when activated
	*/
	.max-annotation,
	.selected-annotation {
		display: none;
	}
	.selected-annotation.line {
		stroke: red;
	}
	.max {
		.max-annotation {
			display: block;
		}
	}
	.selected {
		.selected-annotation {
			display: block;
		}
	}
}