#chart {

	/*	Annotations for max value and selected months are drawn, but shown only
		when activated
	*/
	.max-annotation,
	.selected-annotation {
		display: none;
	}
	.selected-annotation.line {
		stroke: rgb(255, 0, 0);
		stroke-dasharray: 2, 2;
	}
	.max {
		.max-annotation {
			display: block;
		}
		.dot {
			stroke: none;
		}
	}
	.selected {
		.selected-annotation {
			display: block;
		}
	}

	/*	Adjust text anchors for first and last labels in chart
	*/
	.dot-group.last text {
	  text-anchor: end;
	}
	.dot-group.first text {
	  text-anchor: start;
	}

	.y.axis {
		display: none;
	}
	.legend path {
	  display: none;
	}
}