$error-color	:	maroon;

.error-message {
	color: $error-color;
  	padding: 5px;
}
input.ng-invalid.ng-dirty {
	color: $error-color;
	border-color: $error-color;

}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 14px;
    background: #fff;
  }
}