@import "../_variables";

month-slider {
	display: block;

	.slider-selection,
	.slider-track {
		background-color: #fff;
		background-image: none;
	}

	$slider-height: 6px;
	.slider.slider-horizontal {
		height: $slider-height;
		margin-top: -$slider-height / 2;
		clear: both;
		width: 100%;

		$handle-size: 28px;
		.slider-handle {
			margin-top: -$handle-size / 2 + $slider-height / 2;
			margin-left: -$handle-size / 2;
			background-color: $theme-color;
			background-image: none;
			opacity: 1;
			width: $handle-size;
			height: $handle-size;
		}
	}
	.icon {
		width: 30px;
	}
	.tooltip {
		display: none;
	}
}
