@import "../_variables";

// Body padding is a hack to solve a design bug when the site is iframed.
body {
	padding-top: 7px;
}
#gender-version {
	background-color: $saco-grey-dark;
	cursor: pointer;
	color: #fff;
	padding: 7px 14px;

	.glyphicon {
		font-size: 80%;
		margin-right: 4px;
	}
}
