<div class="modal-body">
	<p>Om du arbetar hos en arbetsgivare som har kollektivavtal har du rätt till föräldralön. Föräldralönen är en extra lön från arbetsgivaren utöver den ersättning som försäkringskassan betalar i form av föräldrapenning.</p>
	 
	<p>Hur mycket föräldralön du kan få beror bland annat på vilket kollektivavtal du omfattas av och hur länge du har varit anställd.</p>
	 
	<p><a href="http://www.saco.se/om-foraldralon" target="_blank">Läs mer om föräldralön här</a>.</p>
</div>
<div class="modal-footer">
	<button class="btn btn-saco" ng-click="close()">Stäng</button>
</div>