<div id="gender-version" ng-click="settings.hetero=!settings.hetero">
  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  <span ng-show="settings.hetero">Byt till HBTQ-läge</span>
  <span ng-show="!settings.hetero"> Tillbaka till mamma-pappa-läge</span>

</div>
<div class="card" id="user-input-card">
  
  <!-- Choose mode -->
  

  <!-- User input card -->
  <form class="user-input" name="forms.userInput" novalidate>
    <h3>Vad har ni för månadslön före skatt?</h3>
    <div class="form-group">
      <label for="wage-parent-0">{{ parents[0].label | capitalize }}</label>
      <input type="number"
        id="wage-parent-0"
        name="w0"
        class="form-control"
        ng-model="parents[0].input.lonManad"
        ng-model-options="{ updateOn: 'blur' }"
        placeholder="Lön för {{ parents[0].label }}"
        required>
      <div class="error-message"
        ng-show="forms.userInput.w0.$invalid&&forms.userInput.w0.$dirty"role="alert">Ange en månadslön i siffror</div>
    </div>
    <div class="form-group">
      <label for="wage-parent-1">{{ parents[1].label | capitalize }}</label>
      <input type="number"
        id="wage-parent-1"
        name="w1"
        class="form-control"
        ng-model="parents[1].input.lonManad"
        ng-model-options="{ updateOn: 'blur' }"
        placeholder="Lön för {{ parents[1].label }}"
        required>
      <div class="error-message"
        ng-show="forms.userInput.w1.$invalid&&forms.userInput.w1.$dirty"role="alert">Ange en månadslön i siffror</div>
    </div>

    <h3>I hur många månader får ni <span class="show-info" ng-click="modal('templates/modal-about-foraldralon.html')">föräldralön</span>?</h3>
    <div class="form-group">
      <label for="foraldralon-0">{{ parents[0].label | capitalize }}</label>
      <select class="form-control" ng-model="parents[0].input.foraldralonManader">
        <option value="10">10 månader</option>
        <option value="6">6 månader</option>
        <option value="3">3 månader</option>
        <option value="0">0 månader</option>
      </select>
    </div>

    <div class="form-group">
      <label for="foraldralon-1">{{ parents[1].label | capitalize }}</label>
      <select class="form-control" ng-model="parents[1].input.foraldralonManader">
        <option value="10">10 månader</option>
        <option value="6">6 månader</option>
        <option value="3">3 månader</option>
        <option value="0">0 månader</option>
      </select>
    </div>

    <h3>Hur vill ni fördela föräldraledigheten under det första året?</h3>
    <month-slider></month-slider>

    <button class="btn btn-saco btn-lg btn-nav" ng-click="validate();">
      Hur mycket får ni ut?
    </button>
    <div class="error-message"
        ng-show="invalidForm">Du måste fylla löner för båda föräldrarna</div>

  </form>
</div>

<!-- RESULT CARD -->
<div class="card" id="result-card" ng-show="showResults">
  <h2>Så här stor blir er inkomst första året</h2>
  <table class="table income-spec">
    <tr>
      <td>Med fördelningen {{parents[0].input.ledigaManader}}+{{parents[1].input.ledigaManader}} månader</td>
      <td class="text-right">{{ parents[0].inkomstSpec.disponibelInkomst.value + parents[1].inkomstSpec.disponibelInkomst.value | currency:'kr':0 }}</td>
    </tr>
    <tr>
      <td>Ni maximerar er inkomst med fördelningen {{max.ledigaManader[0]}}+{{max.ledigaManader[1]}} månader</td>
      <td class="text-right">{{ max.disponibelInkomst | currency:'kr':0 }}</td>
    </tr>
    <tr>
      <td>Skillnad</td>
      <td class="text-right">{{ parents[0].inkomstSpec.disponibelInkomst.value + parents[1].inkomstSpec.disponibelInkomst.value - max.disponibelInkomst | currency:'kr':0 }}</td>
    </tr> 
  </table>
  <button class="btn btn-default pull-right" ng-click="modal('templates/modal-income-spec.html', { parents: parents, size: 'lg' })">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    Så här räknar vi
  </button>

  <linechart id="chart" highlight="parents[0].input.ledigaManader" data="data" options="chartOptions" forceredraw="forceredraw" mode="" width="" height="200"></linechart>
  <month-slider style="padding-left:{{chartOptions.dimensions.left}}px;padding-right:{{chartOptions.dimensions.right}}px;"></month-slider>

  <button class="btn btn-saco btn-lg btn-nav" ng-click="scrollToAnchor('user-input-card')">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> Tillbaka
  </button>
</div>

<!--
<income-spec parents="parents" mode="full" ng-show="showResults"></income-spec>-->



