<!-- Essential report: For  -->
<h3>Så här räknar vi</h3>
<div ng-hide="mode=='full'">
  <h4>{{ parents[0].label | capitalize }}</h4>
  <table class="table">
    <tr ng-repeat="key in rows">
      <td>{{ parents[0].inkomstSpec[key].label }}</td>
      <td class="text-right">{{ parents[0].inkomstSpec[key].value | currency:'kr': 0 }}</td>
    </tr>
  </table>

  <h4>{{ parents[1].label | capitalize }}</h4>
  <table class="table">
    <tr ng-repeat="key in rows">
      <td>{{ parents[1].inkomstSpec[key].label }}</td>
      <td class="text-right">{{ parents[1].inkomstSpec[key].value | currency:'kr': 0 }}</td>
    </tr>
  </table>

  <h4>Hushållet sammanräknat</h4>
  <table class="table">
    <tr>
      <td>Inkomster för {{ parents[0].label }}</td>
      <td class="text-right">{{ parents[0].inkomstSpec.totalNetto.value | currency:'kr': 0 }}</td>
    </tr>
    <tr>
      <td>Inkomster för {{ parents[1].label }}</td>
      <td class="text-right">{{ parents[1].inkomstSpec.totalNetto.value | currency:'kr': 0 }}</td>
    </tr>
    <tr>
      <td>Totalt</td>
      <td class="text-right">{{ parents[0].inkomstSpec.totalNetto.value + parents[1].inkomstSpec.totalNetto.value | currency:'kr': 0 }}</td>
    </tr>
  </table>
</div>

<!-- Full report: Primarily for development and debuggig -->
<div class="row" ng-show="mode=='full'">
  <div class="col-sm-6">
    <h3>Inkomst för {{ parents[0].label }}</h3>
    <table class="table">
      <tr ng-repeat="row in parents[0].inkomstSpec | toArray | orderBy: 'order'">
        <td>{{ row.label }}</td>
        <td class="text-right">{{ row.value | currency:'kr':0 }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <h3>Inkomst för {{ parents[1].label }}</h3>
    <table class="table">
      <tr ng-repeat="row in parents[1].inkomstSpec | toArray | orderBy: 'order'">
        <td>{{ row.label }}</td>
        <td class="text-right">{{ row.value | currency:'kr':0 }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="well">
      <strong>Totalt brutto:</strong> {{ parents[0].inkomstSpec.totalBrutto.value + parents[1].inkomstSpec.totalBrutto.value | currency:'kr':0 }}<br/>
      <strong>Totalt netto:</strong> {{ parents[0].inkomstSpec.totalNetto.value + parents[1].inkomstSpec.totalNetto.value | currency:'kr':0 }}<br>
    </div>
  </div>
</div>